<div class="row">
    <div class="col-md-12">
        {{#if image_header}}
            <img class="img-responsive" src="{{image_header}}" />
        {{/if}}
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <h2 id="factsheet">Factsheet</h2>
        <p>
            <strong>Developer:</strong><br>
            <a href="">{{company.title}}</a><br>
            {{#if company.based_in}}Based in {{company.based_in}}{{/if}}
        </p>
        {{#if company.founding_date}}
            <p>
                <strong>Founding Date:</strong><br>
                {{company.founding_date}}
            </p>
        {{/if}}
        {{#if company.website}}
            <p>
                <strong>Website:</strong><br>
                <a href="{{company.website}}">{{parselink company.website}}</a>
            </p>
        {{/if}}
        <p>
            <strong>Press / Business Contact:</strong><br>
            <a href="mailto:{{company.press_contact}}">{{company.press_contact}}</a>
        </p>
        {{#if company.social_media}}
            <p>
                <strong>Social:</strong><br>
                {{#each company.social_media}}
                    <a href="{{link}}">{{name}}</a><br>
                {{/each}}
            </p>
        {{/if}}
        {{#if games}}
            <p>
                <strong>Releases:</strong><br>
                {{#each games}}
                    <a href="games/{{this}}">{{capitalize this}}</a><br>
                {{/each}}
            </p>
        {{/if}}
        {{#if company.address}}
            <p>
                <strong>Address:</strong><br>
                {{breaklines company.address}}
            </p>
        {{/if}}
        <p>
            <strong>Phone:</strong><br>
            {{#if company.phone}}
                {{company.phone}}
            {{else}}
                N/A
            {{/if}}
        </p>
    </div>

    <div class="col-md-8">
        {{#if company.description}}
            <h2 id="description">Description</h2>
            <p>{{company.description}}</p>
        {{/if}}
        {{#if company.history}}
            <h2 id="history">History</h2>
            {{#each company.history}}
                <h3>{{header}}</h3>
                <p>{{text}}</p>
            {{/each}}
        {{/if}}
        {{#if games}}
            <h2 id="projects">Projects</h2>
            <ul>
            {{#each games}}
                <li><a href="games/{{this}}">{{capitalize this}}</a></li>
            {{/each}}
            </ul>
        {{/if}}
    </div>

</div>

<div class="row">
    <div class="col-md-12">

        <hr>

        <h2 id="trailers">Videos</h2>
        {{#unless company.trailers}}
            <p>There are currently no trailers available for {{company.title}}. Check back later for more or <a href="#contact">contact us</a> for specific requests!</p>
        {{/unless}}

        {{#each company.trailers}}
            <p>
                <strong>{{name}}</strong>&nbsp;{{videolist this}}
            </p>
        {{/each}}

        <hr>

        <h2 id="images">Images</h2>
        {{#if images_zip}}
            <a href="{{images_zip}}">
            <div class="alert alert-info">
                download all screenshots &amp; photos as .zip ({{images_zip_size}})
            </div>
            </a>
        {{/if}}
        <div class="row image-grid">
            {{#each images}}
                <div class="col-md-6">
                    <a href="{{this}}"><img style="width: 100%; margin-bottom: 15px;" src="{{this}}" /></a>
                </div>
            {{/each}}
        </div>
        <p>There are far more images available for {{company.title}}, but these are the ones we felt would be most useful to you. If you have specific requests, please do <a href="#contact">contact us</a>!

        <hr>

        <h2 id="logo">Logo &amp; Icon</h2>
        {{#unless logos}}{{#unless logos_zip}}
            There are currently no logos or icons available for {{game.title}}. Check back later for more or <a href="#contact">contact us</a> for specific requests!
        {{/unless}}{{/unless}}

        {{#if logos_zip}}
            <a href="{{logos_zip}}">
            <div class="alert alert-info">
                download all screenshots &amp; photos as .zip ({{logos_zip_size}})
            </div>
            </a>
        {{/if}}
        <div class="row image-grid">
            {{#each logos}}
                <div class="col-md-6">
                    <a href="{{this}}"><img style="width: 100%; margin-bottom: 15px;" src="{{this}}" /></a>
                </div>
            {{/each}}
        </div>

        <hr>

        <h2 id="awards">Awards &amp; Recognition</h2>
        <ul>
            {{#each company.awards}}
                <li>"{{description}}" <em>- {{info}}</em></li>
            {{/each}}
        </ul>

        <hr>

        <h2 id="quotes">Selected Articles</h2>
        <ul>
            {{#each company.quotes}}
                <li>"{{description}}"<br><em>- {{name}}, <a href="{{link}}">{{website}}</a></em></li>
            {{/each}}
        </ul>

        <hr>

        <h2 id="links">Additional Links</h2>
        {{#each company.additional_links}}
            <p>
                <strong>{{title}}</strong><br>
                {{description}} <a href="{{link}}">{{parselink link}}</a>
            </p>
        {{/each}}

        <hr>

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 id="credits">Team &amp; Repeating Collaborators</h2>
        {{#each company.credits}}
            <p>
                <strong>{{name}}</strong><br>
                {{#if website}}<a href="{{website}}">{{/if}} {{role}} {{#if website}}</a>{{/if}}
            </p>
        {{/each}}
    </div>
    <div class="col-md-6">
        <h2 id="contact">Contact</h2>
        {{#each company.contacts}}
            <p>
                <strong>{{name}}</strong><br>
                {{#if mail}}
                    <a href="mailto:{{mail}}">{{mail}}</a>
                {{else}} {{#if link}}
                    <a href="{{link}}">{{parselink link}}</a>
                {{/if}}{{/if}}
            </p>
        {{/each}}
    </div>
</div>

