
<div class="row">

<div class="col-md-4">
    <h2 id="factsheet">Factsheet</h2>
    <p>
        <strong>Developer:</strong><br>
        <a href="">{{company.title}}</a><br>
        Based in {{company.based_in}}
    </p>
    <p>
        <strong>Founding Date:</strong><br>
        {{company.founding_date}}
    </p>
    <p>
        <strong>Website:</strong><br>
        <a href="{{company.website}}">{{parselink company.website}}</a>
    </p>
    <p>
        <strong>Press / Business Contact:</strong><br>
        <a href="mailto:{{company.press_contact}}">{{company.press_contact}}</a>
    </p>
    <p>
        <strong>Social:</strong><br>
        {{#each company.social_media}}
            <a href="{{link}}">{{name}}</a><br>
        {{/each}}
    </p>
    <p>
        <strong>TODO: Releases:</strong>
    </p>
    <p>
        <strong>Address:</strong><br>
        {{breaklines company.address}}
    </p>
    <p>
        <strong>Phone:</strong><br>
        {{company.phone}}
    </p>
</div>

<div class="col-md-8">
    <h2 id="description">Description</h2>
    <p>{{company.description}}</p>
    <h2 id="history">History</h2>
    {{#each company.history}}
        <h3>{{header}}</h3>
        <p>{{text}}</p>
    {{/each}}
    <h2 id="history">TODO: Projects</h2>
</div>

</div>

<div class="row">
<div class="col-md-12">


<h2 id="videos">Videos</h2>


</div>
</div>


